html,
body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    background-color: beige;
}

.nav {
    background-color: #141414;
    color: #ffffff;
    height: 100vh;
    max-height: 100%;
    max-width: 414px;
    display: none;
    opacity: 0;
    animation: slide-left 1s;
}

@keyframes slide-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes hide-nav {
    100% {
        transform: translateX(-100%);
    }
    0% {
        transform: translateX(0%);
    }
}

.nav-visible {
    opacity: 80%;
    display: block;
}

.btn-invisible {
    opacity: 0;
    display: none;
}

.nav-item {
    font-size: 36px;
    padding: 10px;
    margin-left: 20%;
    width: fit-content;
    cursor: pointer;
}

.close-btn {
    font-size: 24px;
    padding: 10px;
    text-align: right;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #ffffff;
    color: #141414;
    border-radius: 8px;
}

.nav-btn {
    font-size: 36px;
    padding: 20px;
    height: 100vh;
    max-height: 100%;
    max-width: 40px;
    background-color: #141414;
    opacity: 70%;
    color: #ffffff;
    cursor: pointer;
    animation: slide-left 500ms;
}